body {
    /* Box-model */
    padding: 0;

    /* Positioning */
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;

    /* Typography */
    font-size: 18px;
    line-height: 150%;
    color: #333;

    /* Visual */
    background: #efeee7;
    background-image: url(../images/concrete_seamless.png)
}

.top-header  {
    color: #fff;
    background: white;
    font-size: 20px;
    padding: 0px 0px 0px 200px;
    margin-bottom: 10px;
    border-bottom: 4px solid rgb(233, 233, 233);
    display: flex;
}



.header-name {
    background: #4aaaa5;
    padding: 20px 0 15px 0;
    width: 220px;
    margin-bottom: 3px;
}

h2 {
    font-size: 24px;
}

#top-header{
    
}


