

body {
    background-image: url(../images/concrete_seamless.png)
}

.top-header {
    color: #fff;
    background: white;
    font-size: 40px;
    padding: 0px 0px 0px 250px;
    margin-bottom: 50px;
    border-bottom: 4px solid rgb(233, 233, 233);
    display: flex;
}



.header-name {
    background: #4aaaa5;
    padding: 20px 0 15px 25px;
    width: 220px;
    margin-bottom: 0px;
}

.links {
    font-size: 20px;
    margin-left: 300px;
    padding-bottom: 10px;
    padding-top: 40px;
}

a{
    width: 60%;
    padding-left: .5rem;
    margin-left: .5rem;
    color: grey;
    text-decoration: none;
}

.main-section {
    padding: 20px;
    margin-left: 200px;
    border: 20px;
    margin-right: 900px;
    background: white;
}



    font-size: 24px;
}




